:root {
  --tile-color: teal;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  display: grid;
  height: inherit;
  grid-template-columns: 75% 25%;
}

.col {
  padding: 10px;
}

.visualization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bars {
  display: flex;
  min-height: 200px;
  height: auto;
  width: 80%;
  margin: 10px auto;
  justify-content: center;
  align-items: end;
}

#algorithm_explanation {
  text-align: left;
  width: 80%;
}

.options {
  background: #333;
  color: white;
  padding: 20px;
}

.option {
  margin-bottom: 10px;
}

#sort_button {
  width: 100%;
  padding: 5px 0px;
  border: 0px;
  border-radius: 5px;
  background: #000;
  color: white;
}

#sorting_algorithms {
  & button {
    display: block;
    margin-bottom: 10px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.bar {
  width: 20px;
  height: 100px;
  margin: 1px;
  background-color: var(--tile-color);
}
